@use 'reset';
@use 'variaveis';
@use 'products';
@use 'menu';
@use 'listas';
@use 'secao';


body {
    background-color: variaveis.$corPrincipal;

}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{ 
    background-color: variaveis.$corSecundaria;
    position: sticky;
    top: 0;
    left: 0;

    .container{
        background-color: variaveis.$corSecundaria ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
}  
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}

